ListboxTutorial/SampleData/myNoteBookSampleDataSource/myNoteBookSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.myNoteBookSampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.myNoteBookSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="NoteBook" type="tns:NoteBook" />
  <xs:complexType name="NoteBook">
    <xs:sequence>
      <xs:element name="NoteCollection" type="tns:NoteCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NoteCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Note" type="tns:Note" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Note">
    <xs:attribute name="Title" type="xs:string" />
    <xs:attribute name="CreationTime" type="xs:string" />
    <xs:attribute name="Content" type="xs:string" />
  </xs:complexType>
</xs:schema>